<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Vue ToDo</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

  <style>
    body { font-family: Arial; padding: 20px; }
    input { padding: 5px; width: 200px; }
    button { padding: 6px 12px; margin-left: 8px; cursor: pointer; }
    li { margin-top: 8px; }
    .done { text-decoration: line-through; color: gray; }
  </style>
</head>
<body>

<div id="app">
  <h1>Список дел</h1>

  <input v-model="newTask" @keyup.enter="addTask" placeholder="Введите задачу">
  <button @click="addTask">Добавить</button>

  <ul>
    <li v-for="(task, index) in tasks" :key="index">

      <span :class="{ done: task.done }">
        {{ task.text }}
      </span>

      <button @click="toggleTask(index)">
        {{ task.done ? "Вернуть" : "Готово" }}
      </button>

      <button @click="removeTask(index)" style="color:red">
        Удалить
      </button>

    </li>
  </ul>

  <p v-if="tasks.length === 0">Список пуст</p>
</div>



<script>
    const app = Vue.createApp({
        data() {
            return {
            newTask: "",
            tasks: []
        }
    },

    methods: {
        addTask() {
        if (this.newTask.trim() === "") return;

        this.tasks.push({
            text: this.newTask,
            done: false
        });

        this.newTask = "";
        },

        toggleTask(index) {
        this.tasks[index].done = !this.tasks[index].done;
        },

        removeTask(index) {
        this.tasks.splice(index, 1);
        }
    }
    })

    app.mount('#app')
</script>

</body>
</html>
